<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryCompanyServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.QueryCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryJobServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.QueryJobServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanySalaryRankServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.CompanySalaryRankServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyCommentsServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.CompanyCommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewCommentServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.NewCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanysOfJobServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.CompanysOfJobServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JobDetailServlet</servlet-name>
    <servlet-class>com.sun.querysalary.servlet.JobDetailServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryCompanyServlet</servlet-name>
    <url-pattern>/servlet/QueryCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryJobServlet</servlet-name>
    <url-pattern>/servlet/QueryJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <url-pattern>/servlet/CompanyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanySalaryRankServlet</servlet-name>
    <url-pattern>/servlet/CompanySalaryRankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyCommentsServlet</servlet-name>
    <url-pattern>/servlet/CompanyCommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCommentServlet</servlet-name>
    <url-pattern>/servlet/NewCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanysOfJobServlet</servlet-name>
    <url-pattern>/servlet/CompanysOfJobServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JobDetailServlet</servlet-name>
    <url-pattern>/servlet/JobDetailServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
