<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.sun.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>	
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sun.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyRankServlet</servlet-name>
    <servlet-class>com.sun.servlet.CompanyRankServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndustryRankServlet</servlet-name>
    <servlet-class>com.sun.servlet.IndustryRankServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyRankInforServlet</servlet-name>
    <servlet-class>com.sun.servlet.MyRankInforServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditSelfInforServlet</servlet-name>
    <servlet-class>com.sun.servlet.EditSelfInforServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSelfInforSerlet</servlet-name>
    <servlet-class>com.sun.servlet.GetSelfInforSerlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewIndustryServlet</servlet-name>
    <servlet-class>com.sun.servlet.NewIndustryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewCompanyServlet</servlet-name>
    <servlet-class>com.sun.servlet.NewCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePassWorldServlet</servlet-name>
    <servlet-class>com.sun.servlet.ChangePassWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WorldRankServlet</servlet-name>
    <servlet-class>com.sun.servlet.WorldRankServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyRankServlet</servlet-name>
    <url-pattern>/servlet/CompanyRankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndustryRankServlet</servlet-name>
    <url-pattern>/servlet/IndustryRankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyRankInforServlet</servlet-name>
    <url-pattern>/servlet/MyRankInforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSelfInforServlet</servlet-name>
    <url-pattern>/servlet/EditSelfInforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSelfInforSerlet</servlet-name>
    <url-pattern>/servlet/GetSelfInforSerlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewIndustryServlet</servlet-name>
    <url-pattern>/servlet/NewIndustryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCompanyServlet</servlet-name>
    <url-pattern>/servlet/NewCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassWorldServlet</servlet-name>
    <url-pattern>/servlet/ChangePassWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorldRankServlet</servlet-name>
    <url-pattern>/servlet/WorldRankServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
