<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msalary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/test"
      >
        <activity
            android:name="com.example.msalary.activity.MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
           android:name="com.example.msalary.activity.ExposureSalary"
           android:theme="@style/test"
           ></activity>
        <activity 
           android:name="com.example.msalary.activity.MistakeActivity"
           android:theme="@style/test"
           ></activity>
        <!-- 热门公司 -->
        <activity 
            android:name="com.example.msalary.activity.HotAct"
           android:theme="@style/test"
            ></activity>
        <!-- 暂时废弃 -->
        <activity 
           android:name="com.example.msalary.activity.HotActivity"
           android:theme="@style/test"
           ></activity>
        <!-- 查找职位 -->
        <activity 
           android:name="com.example.msalary.activity.SelectPositionActivity"
           android:theme="@style/test"
           ></activity>
        <!-- 公司的所有职位 -->
        <activity 
           android:name="com.example.msalary.activity.CompanyAllPositionActivity"
           android:theme="@style/test"
           ></activity>
        <activity 
           android:name="com.example.msalary.activity.CommentActivity"
           android:theme="@style/test"
           ></activity>
        <!-- 查询公司结果显示 -->
        <activity 
            android:name="com.example.msalary.activity.SelectCompanyActivity"
            android:theme="@style/test"
            ></activity>
        <!-- 岗位详情 -->
        <activity 
            android:name="com.example.msalary.activity.PositionDetailActivity"
            android:theme="@style/test"
            ></activity>
        <activity 
            android:name="com.example.msalary.activity.PositionAllCompanyActivity"
            android:theme="@style/test"
            ></activity>
    </application>

</manifest>
